projects:
  - project_id: 1
    region_index: 30
    project_name: winline
  - project_id: 2
    region_index: 30
    project_name: leon
  - project_id: 2
    region_index: 30
    project_name: pari
  - project_id: 3
    region_index: 30
    project_name: fonbet